<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="E:\dairyweb\css\login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <script type="text/JavaScript" href="E:\dairyweb\index.js"</script> -->
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
    <script type="text/JavaScript" href='E:\dairyweb\index.js'></script>


    <title>Sign In</title>
    <style>
       
        html,body {
            align-content: center;
            float: center;
            text-align: center;
            background-color: #FFF;
            width: 100%;
            height: 100%;
           
        }
        .login{
          align-items: center;
          align-content: center;
         
        }
        img{
            width: 500px;
            height: 500px;
        }
    </style>
</head>

<body  >
    
    <div class="container">
      
        <div class="row">

            <div class="col">

                <h1><span style="color:turquoise;">WELCOME </span>ADMIN </h1>
                    <h1 style="color:tomato"> <b>ONLINE STOCK BUY, SELL !</b></h1>
                
                <br>
                <br>
            </div>
        
            </div>
            <div class="row">
                
            
            </div>
            <div class="row justify-content-center">
               
                <div class="col">
                <div class="card" style="width: 21rem;">
                    <br>
                    <h3><small><span style="color:turquoise;"> Login here </span></small></h3>
                    <br>
                    <div class="card-body">
                        <form method="POST" action="/admin">
                        
                            <div>
                                <label>Username</label>
                                <input class="form-control" name="username" id="username" type="name">
                                
                            </div>
                            <div>
                                <label>password</label>
                                <input class="form-control" name="password" id="password" type="password">
                               
                            </div>
                            <br>
                            <div>
                                <button class="btn btn-info" id="loginbtn">Login</button>
                            </div>
                        
                        
                        </form>
                        <br>
                        <div class="form2">
                            <a href="/cust">LOGIN AS CUSTOMER</a>
                        </div>
                        <br>
                        <div class="form2">
                            <a href="/forgotpassword">Forgot password?</a>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                
                <img src="https://cdn.dribbble.com/users/118246/screenshots/5343519/wifi.gif" class="img-fluid">
            
            </div>
    </div>
    <br>
    <br>


    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
       
</body>

</html>